{% load static %}
<style>
.site-footer {
  width: 100vw !important;
  margin-left: calc(50% - 50vw) !important;
  margin-right: calc(50% - 50vw) !important;
  background-color: #222 !important;
}
</style>

<footer class="site-footer">
  <div class="container">

    <div class="row">
      <div class="col-md-9">
        <div class="row">

          <div class="col-md-5">
            <h2 class="footer-heading mb-4">Sobre Nós</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
          </div>

          <div class="col-md-3 ml-auto">
            <h2 class="footer-heading mb-4">Links Rápidos</h2>
            <ul class="list-unstyled">
              <li><a href="#">Sobre Nós</a></li>
              <li><a href="#">Serviços</a></li>
              <li><a href="#">Depoimentos</a></li>
              <li><a href="#">Fale Conosco</a></li>
            </ul>
          </div>

          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Siga-nos</h2>
            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
          </div>

        </div>
      </div>

      <div class="col-md-3">
        <h2 class="footer-heading mb-4">Assine a Newsletter</h2>
        <form method="post" action="{% url 'enviar_email' %}" class="footer-subscribe">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="email" name="email" class="form-control border-secondary text-white bg-transparent" placeholder="Digite o Email" required>
            <div class="input-group-append">
              <button class="btn btn-primary text-black" type="submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>

    </div>

    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            Todos os direitos reservados | Este modelo foi feito com 
            <i class="icon-heart" aria-hidden="true"></i> por 
            <a href="https://colorlib.com" target="_blank">Colorlib</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</footer>
