 {%  load static %}
<section class="site-section" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade">
            <img src="{% static 'images/about_1.jpg' %}" alt="Imagem" class="img-fluid rounded">
          </div>
          <div class="col-md-6 order-md-1" data-aos="fade">
            <div class="row">
              <div class="col-12 mb-4">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              </div>
              <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
                <div class="unit-4">
                  <div class="unit-4-icon mr-4 mb-3"><span class="text-primary icon-adb"></span></div>
                  <div>
                    <h3>Especialidades Web &amp; Mobile</h3>
                    <p>Lorem ipsum dolor sit amet consectetur...</p>
                    <p class="mb-0"><a href="#">Saiba Mais</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
                <div class="unit-4">
                  <div class="unit-4-icon mr-4 mb-3"><span class="text-primary icon-assignment"></span></div>
                  <div>
                    <h3>Pensadores Intuitivos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur...</p>
                    <p class="mb-0"><a href="#">Saiba Mais</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>